@page "/"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using ShopClassLibrary.ModelShop
@rendermode InteractiveServer
@inject HttpClient client
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>
@inject ProtectedLocalStorage ProtectedLocalStore
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration
<input type="email" @bind="Searh_input" />
@* <div>
    <p>Почта</p>
    <input type="email" @bind="" />
</div>

<div>
    <p>Пароль</p>
    <input type="password" @bind="" />
</div>

<button @onclick=Log>Вход</button>
 *@



@code
{
    private string Searh_input;

    private string Store_Products;
    private Dictionary<string, string> Urls = new Dictionary<string, string>();
    public Product[] Products ;

    protected override async void OnInitialized()
    {
        // Загружаем словарь URL-адресов из appsettings.json
        Urls = Configuration.GetSection("Urls").Get<Dictionary<string, string>>() ?? new Dictionary<string, string>();

        // Получаем URL для "Google"
        Urls.TryGetValue("Store_Products", out Store_Products);


        await   Registration_page();
    }


    // private async Task Log()
    // {

    // }

    private async Task Registration_page()
    {
        try
        {


            var prod = await client.GetFromJsonAsync<Product []>(Store_Products);
        }
        catch(Exception)
        {
            
        }

    }


}