# Исключаем временные и ненужные файлы
**/bin
**/obj
**/node_modules
**/*.log
**/*.tmp

# Исключаем файлы Git, кроме важных
**/.git
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

# Исключаем Dockerfile только в поддиректориях, но включаем в корне
**/Dockerfile*
!Dockerfile

# Исключаем временные файлы
**/README.md
**/LICENSE

# Включаем папку publish
!**/publish
